[submodule "Code Formatters and Beautifiers/the Bash Script Beautifier"]
	path = Code Formatters and Beautifiers/the Bash Script Beautifier
	url = https://github.com/hermanbergwerf/bashbeautify.git
	fetchRecurseSubmodules = no
	ignore = untracked
[submodule "Continuous Integration/Utilities for Travis CI"]
	path = Continuous Integration/Utilities for Travis CI
	url = https://github.com/Lin-Buo-Ren/Utilities-for-Travis-CI.git
	fetchRecurseSubmodules = no
	ignore = all
